<div class="container mt-5">
  <h2>Bienvenido {{user.name}}!</h2>
  <h3>Tu rol es: {{user.role}}</h3>
  <h1 class="mt-4">Productos</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Categoría</th>
        <th scope="col">Detalles / Agregar al Carrito</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
      <tr data-id={{this._id}}>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
        <td>
          <a href="/product/{{this._id}}" class="btn btn-info btn-sm">Ver detalles</a>
          <button class="btn btn-primary btn-sm">Agregar al carrito</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<br />
<br />
<div class="container">
  {{#if hasPrevPage}}
  <a href="?page={{prevPage}}" class="btn btn-secondary">Anterior</a>
  {{/if}}
  <span class="mx-2">Página {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}
  <a href="?page={{nextPage}}" class="btn btn-secondary">Siguiente</a>
  {{/if}}
</div>
<button id="logoutButton" class="btn btn-danger mt-3">Logout</button>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/logout.js"></script>