<div class="container mt-5">
    <h1>Productos en tiempo real</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr data-id={{id}}>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{price}}</td>
                <td>{{stock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>